.cart-container {
  padding: 20px;
  font-family: 'Coda';
}

h2 {
  font-size: 40px;
  margin-bottom: 20px;
  margin-top: 0px;
  font-weight: 400;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 0px 0px 0px 10px;
  border: 2px solid #000000;
  border-radius: 0px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.cart-item:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-in-out;
}


.cart-item span {
  width: 20%;
}

.quantity {
  margin: 0px 10px;
}

button {
  padding: 10px 15px;
  background-color: #000000;
  font-family: 'Coda';
  font-size: 16px;
  color: #fff;
  border: none;
  cursor: pointer;
}

.qty-btn {
  background-color: #ffffff;
  transition: all 0.2s ease-in-out;
  color: #000000;
}

.qty-btn:hover {
  background-color: #000000;
  transition: all 0.2s ease-in-out;
  color: #fff;
}

.rmv-btn {
  background-color: #000000;
  color: #fff;
  border-left: 2px solid #000000;
  transition: background-color 0.2s ease-in-out;
}

.rmv-btn:hover {
  background-color: #dc3545;
  transition: background-color 0.2s ease-in-out;
}

.checkout-button {
  color: #fff;
  margin-top: 20px;
  padding: 15px 20px;
  font-size: 16px;
  background-color: #000000;
  transition: background-color 0.2s ease-in-out;
}

.checkout-button:hover {
  background-color: #218838;
  transition: background-color 0.2s ease-in-out;
}

.totals {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.inputs {
  display: flex;
  flex-direction: column;
}

input {
  padding: 10px;
  margin-bottom: 10px;
}

.cart-header {
  display: flex;
  align-items: center;
  padding: 0px 90px 0px 10px;
  border: #fff solid 2px;
  border-radius: 0px;

}

.cart-header span {
  width: 20%;
}